@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222831;
    color: #f2f2f2;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.div {
    width: 85%;
    height: auto;
    margin: 1vh auto;
}

.sub-subtitle {
    font-size: 1.5rem;
    margin: 5vh auto;
    text-transform: capitalize;
    text-align: center;
}

.reviews {
    background: #f96d00;
    padding: 1vh;
    border-radius: 5vh;
}

.reviews li {
    margin: 2vh;
    text-transform: capitalize;
    color: #f2f2f2;
}

.reviews li h4, .reviews li p {
    margin: 2vh;
}

.nav {
    background: #f96d00;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav ul li {
    margin: 10px 15px;
}

.nav ul li a {
    color: #f2f2f2;
    font-size: 1rem;
    text-transform: capitalize;
}

#showcase {
    width: 100%;
    height: 40vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.5rem;
    text-transform: uppercase;
}

.categories {
    background: #f96d00;
    width: 85%;
    height: auto;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5vh;
}

.categories h3 {
    margin: 20px;
    font-size: 2rem;
    color: #f2f2f2;
}

.categories ul {
    width: 90%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.categories ul li {
    width: 20vh;
    height: 30vh;
    margin: 20px;
}

.categories ul li a img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
}

.subtitle {
    margin: 5vh;
    margin-left: 15vh;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.buttons {
    width: 85%;
    height: auto;
    margin: 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button, .form button {
    background-color: #f96d00;
    width: 30vh;
    height: 7vh;
    margin: 20px;

    font-size: 1.2rem;
    color: #f2f2f2;

    border: none;
    cursor: pointer;

    border-radius: 5vh;

}

.form {
    width: 85%;
    height: auto;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.form input {
    width: 70%;
    height: 7vh;
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    font-size: 1.2rem;
    color: black;

    border-radius: 5vh;
}

#show-movie {
    width: 90%;
    height: auto;

    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#show-movie img {
    border-radius: 5vh;
}

#movie-details {
    width: 85%;
    height: 30vh;
    margin: 0 auto;
    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    font-size: 1.3rem;

}

