@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222831;
    color: #f2f2f2;

}

ul li {
    list-style: none;
}

a, ul li a {
    text-decoration: none;
    color: #f2f2f2;
}

h2, h3, h4, h5 {
    color: #f96d00;
}

p {
    color: #f2f2f2;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.div {
    width: 85%;
    height: auto;
    margin: 1vh auto;
}

.sub-subtitle {
    font-size: 1.3rem;
    margin: 5vh auto;
    text-transform: capitalize;
    text-align: center;
}

.reviews {
    background: #393e46;
    padding: 1vh;
    border-radius: 5vh;
    color: #f96d00;
}

.reviews li {
    margin: 2vh;
    text-transform: capitalize;

}

.reviews li a p {
    color: #f96d00;
}

.reviews li h4, .reviews li p {
    margin: 2vh;
}

.nav {
    background: #393e46;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav ul li {
    margin: 10px 15px;
}

.nav ul li a {
    font-size: 1rem;
    text-transform: capitalize;
}

#showcase {
    background-image: url('showcase.jpg');
    background-color: #393e46;
    width: 85%;
    height: 30vh;
    margin: 2vh auto;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1vh;
    border-radius: 5vh;
}

#showcase h1, h2 {
    color: #f96d00;
}

.categories {
    background: #393e46;
    width: 85%;
    height: auto;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 5vh;
}

.categories h3 {
    margin: 20px;
    font-size: 2rem;
    color: #f96d00;
}

.categories ul {
    width: 90%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.categories ul li {
    width: 20vh;
    height: 30vh;
    margin: 20px;
}

.categories ul li a img {
    width: 100%;
    height: 100%;
    border-radius: 5vh;
}

.subtitle {
    margin: 5vh;
    margin-left: 15vh;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #f96d00;
}

.buttons {
    width: 85%;
    height: auto;
    margin: 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button, .form button, button {
    background-color: #f96d00;
    width: 30vh;
    height: 7vh;
    margin: 20px;

    font-size: 1.2rem;
    color: #f2f2f2;

    border: none;
    cursor: pointer;

    border-radius: 5vh;
    text-transform: capitalize;

}

.form {
    width: 85%;
    height: auto;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.form input {
    width: 70%;
    height: 7vh;
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    font-size: 1.2rem;
    color: black;

    border-radius: 5vh;
    text-transform: none;
}

#show-movie {
    width: 85%;
    height: auto;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#show-movie img {
    border-radius: 5vh;
}

#movie-details {
    background: #393e46;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 5vh;

}

#movie-details ul {
    width: auto;
    height: auto;
    padding: 0;
    flex-wrap: wrap;
}

#movie-details ul li {
    margin: 0 5px;
}

#movie-details h2 {
    color: #f96d00;
}

#movie-details h2, #movie-details p {
    margin: 1.3vh auto;
}

.flashes {
    text-align: center;
    text-transform: capitalize;
}

#new_review_content, #edit_review_content {
    width: 70%;
    height: auto;
    padding: 1vh;
    font-size: 1.2rem;
    border: none;
    text-transform: capitalize;
}

@media (max-width: 1250px) {
     #show-movie {
        flex-direction: column;
    }
    #show-movie img {
        height: 50vh;
        margin: 3vh auto;
    }
}

@media (max-width: 1150px) {
    .nav ul {
        width: 100%;
    }
     #movie-details {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #showcase h1, h4 {
        padding: 0;
        margin: 0 auto;
    }

    #new_review_content, #edit_review_content {
        width: 100%;
    }
}

@media (max-width: 570px) {
    #showcase h1, h4 {
        font-size: 1.5rem;
    }

    .nav ul {
        justify-content: center;
    }
    .nav ul li a {
        font-size: 0.8rem;

    }
    #show-movie {
        width: 80%;
    }

    #movie-details, .reviews, h4 {
        font-size: 0.8rem;
    }
    .categories h3 {
        font-size: 1.5rem;
    }

    .subtitle {
        margin: 2vh auto;
        text-align: center;
    }

    .form input {
        font-size: 0.8rem;
    }
}

@media (max-width: 495px) {
    #showcase, .categories {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 380px) {
    .nav {
        height: auto;
    }
    .nav ul {
        flex-direction: column;
    }

    #showcase h1, h4, .categories h3 {
        font-size: 1rem;
        text-align: center;
    }

    #movie-details h2, h4, p, ul li p, .reviews {
        font-size: 0.8rem;
    }

    #new_review_content, #edit_review_content {
        font-size: 0.8rem;
    }

    .form button {
        width: 70%;
        height: auto;
    }

    .div a button {
        height: auto;
    }

    .categories ul li {
        width: 60%;
        height: auto;
    }
}

