{% extends "base.html" %}

{% block content %}

<div class="">
  <h2 class="subtitle">welcome, {{user.name}}!</h2>
  <ul class="div reviews">
    <li class="">email: {{user.email}}</li>
  </ul>
  {% if user.reviews %}
  <h3 class="subtitle">your reviews:</h3>
  <ul class="div reviews">
    {% for review in user.reviews %}
    <li>
      <a href="{{ url_for('show_movie', movie_id=review.movie_id) }}"><p>{{ review.movie_name }}</p></a>
      <p>{{ review.content }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h3>start reviewing now</h3>
  {% endif %}
</div>

{% endblock %}