{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="subtitle">change password</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form class="form" method="POST" action="{{ url_for('change_password') }}" autocomplete="off">
        <input type="password"
               name="old_password"
               placeholder="enter old password"
               minlength="8"
               maxlength="16"
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
               autocomplete="new-password"
               title="Letters, numbers, and 8 min characters"
               required>
        <input type="password"
               name="new_password"
               placeholder="enter new password"
               minlength="8"
               maxlength="16"
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
               autocomplete="new-password"
               title="Letters, numbers, and 8 min characters"
               required>
        <button type="submit">update</button>
    </form>
</div>
{% endblock %}
