{% extends "base.html" %}

{% block content %}

<!--SHOWCASE OF THE PAGE-->
<div id="showcase">
    <h1>Welcome!</h1>
    <h2>Review any and all movies!</h2>
</div>

<!--POPULAR MOVIES-->
<div class="categories">
    <h3>POPULAR MOVIES</h3>
    <ul>
        {% for movie in popular_movies %}
        <li>
            <a href="{{ url_for('show_movie', movie_id=movie.id) }}"><img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" alt="movie poster"></a>
        </li>
        {% endfor %}
    </ul>

</div>
<!--LATEST MOVIES-->
<div class="categories">
    <h3>LATEST MOVIES</h3>
    <ul class="row">
        {% for movie in latest_movies %}
        <li>
            <a href="{{ url_for('show_movie', movie_id=movie.id) }}"><img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" alt="movie poster"></a>
        </li>
        {% endfor %}
    </ul>
</div>








{% endblock %}