{% extends "base.html" %}

{% block content %}

<div>
    <h2 class="subtitle">Register a new account</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <form class="form" action="{{ url_for('register') }}" autocomplete="off" method="POST">
        <input type="text" name="first_name" placeholder="first name" minlength="3" required>
        <input type="text" name="last_name" placeholder="last name" minlength="3" required>
        <input type="email"
               name="email"
               placeholder="email"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
               required>
        <input type="password"
               name="password"
               placeholder="password (Letters, numbers, and 8 min characters)"
               minlength="8"
               maxlength="16"
               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
               autocomplete="new-password"
               title="Letters, numbers, and 8 min characters"
               required>
        <button type="submit">register</button>
    </form>
</div>















{% endblock %}