{% extends "base.html" %}

{% block content %}

<h2>search</h2>
<form action="{{ url_for('search_movie') }}" method="POST">
    <input type="text" placeholder="Enter movie title" name="title" required>
    <button type="submit">search</button>
</form>
<!--SEARCH RESULTS-->
<div>
    <ul>
        {% for movie in movies %}
        <li>
            <a href="{{ url_for('show_movie', movie_id=movie.id) }}"><img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" alt="movie poster"></a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}