{% extends "base.html" %}

{% block content %}

<div class="col">
    <div id="show-movie">
        <div>
            <img src="https://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" alt="movie poster">
        </div>
        <div id="movie-details">
            <h2>{{ movie['title'].title() }}</h2>
            {% if movie['tagline'] %}
            <h4>"{{ movie['tagline'].title() }}"</h4>
            {% endif %}
            <p>release date: {{ movie['release_date'] }}</p>
            <ul class="row">
                <li><p>genres: </p></li>
                {% for genre in movie['genres'] %}
                <li><p>{{ genre.name }}</p></li>
                {% endfor %}
            </ul>
            <p>{{ movie['overview'] }}</p>
        </div>
    </div>
    <div class="div col">
        <h3 class="sub-subtitle">reviews</h3>
        {% if logged_in and not has_reviewed %}
        <a href="{{ url_for('new_review', movie_id=movie.id) }}">
            <button>write a review</button>
        </a>
        {% elif logged_in and has_reviewed %}
        <a href="{{ url_for('edit_review', current_user_review_id=current_user_review_id) }}">
            <button>edit your review</button>
        </a>
        {% endif %}
        {% if reviews %}
        <ul class="reviews">
            {% for review in reviews %}
            <li class="">
                <h4>{{ review.author.name }} says: </h4>
                <p>{{ review.content }}</p>
            </li>
            {% endfor %}
            {% elif not reviews and not logged_in %}
            <a href="{{ url_for('register') }}">
                <button>register to review!</button>
            </a>
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}